USE [CoffeeAndCake]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22/06/2022 12:43:21 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 22/06/2022 12:43:21 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 22/06/2022 12:43:21 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 22/06/2022 12:43:21 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 22/06/2022 12:43:21 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 22/06/2022 12:43:21 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDons]    Script Date: 22/06/2022 12:43:21 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDons](
	[IdSanPham] [int] NOT NULL,
	[IdHoaDon] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietHoaDons] PRIMARY KEY CLUSTERED 
(
	[IdSanPham] ASC,
	[IdHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 22/06/2022 12:43:21 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[IDHD] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[NgayGiao] [datetime] NOT NULL,
	[TongTien] [float] NOT NULL,
	[TinhTrangDH] [bit] NOT NULL,
	[IsPaid] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.HoaDons] PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPhams]    Script Date: 22/06/2022 12:43:21 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPhams](
	[IDLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[tenLoaiSP] [nvarchar](30) NOT NULL,
	[Hinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.LoaiSanPhams] PRIMARY KEY CLUSTERED 
(
	[IDLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 22/06/2022 12:43:21 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[IDSP] [int] IDENTITY(1,1) NOT NULL,
	[tenSP] [nvarchar](30) NOT NULL,
	[Hinh] [nvarchar](50) NULL,
	[GiaBan] [float] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[LoaiSanPhamId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SanPhams] PRIMARY KEY CLUSTERED 
(
	[IDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'5f756f14-bf06-424a-8836-f15eea07ee37', N'Customer', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'd5ba2caf-5ac8-4d1f-822a-2976e7878fd6', N'Clerk', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'fee92ca5-6391-4760-9b98-64e9f653a2fa', N'Admin', N'ApplicationRole')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'30668231-b7d0-4ce8-8836-20646cd4cf89', N'5f756f14-bf06-424a-8836-f15eea07ee37')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'461d5e5a-e4b3-4443-a0fa-ad681f2304a0', N'5f756f14-bf06-424a-8836-f15eea07ee37')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd16b7c7e-ad0a-43e3-a7c5-2a5049dca6d7', N'5f756f14-bf06-424a-8836-f15eea07ee37')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Name], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Address]) VALUES (N'2de02c36-d76d-48d1-ba76-73015020c0c6', N'Nguyễn Hảo Tiến', N'def@gmail.com', 0, N'APy00NxdJeLcY6QsySIjexcgHzuTLLD8ZGEQKRtKPAuk3YryMq2HVCwIrYnBpQziIw==', N'60c64dc0-afcc-42eb-8e66-63f5ab44f87b', N'0966757174', 0, 0, NULL, 1, 0, N'def@gmail.com', N'60 Trần Khánh')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Address]) VALUES (N'30668231-b7d0-4ce8-8836-20646cd4cf89', N'Nguyễn Hảo Tiến', N'nht.it19@gmail.com', 1, N'ADkJH3ZFOoH23Butq0CZuvlZeku/SfFjV7xGeAbiwUiMS95vnCsbO0vKy/8dWb+6uw==', N'a5b2ff7a-d51a-496b-910c-b4bcfbadf4a2', N'0966757174', 0, 0, NULL, 1, 0, N'nht.it19@gmail.com', N'60 Trần Khánh')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Address]) VALUES (N'461d5e5a-e4b3-4443-a0fa-ad681f2304a0', N'Phương', N'jkl@gmail.com', 0, N'AFKbNC0DzQNIaMtUqZdlzRJDw1IB2wlr6vtbd7SCvNEogFAj4RYsOC8+wPmD5cy1KA==', N'93428d8f-304b-4e70-a7bf-f4d042235169', NULL, 0, 0, NULL, 1, 0, N'jkl@gmail.com', NULL)
GO
INSERT [dbo].[ChiTietHoaDons] ([IdSanPham], [IdHoaDon], [SoLuong]) VALUES (4, 1, 5)
INSERT [dbo].[ChiTietHoaDons] ([IdSanPham], [IdHoaDon], [SoLuong]) VALUES (4, 3, 5)
INSERT [dbo].[ChiTietHoaDons] ([IdSanPham], [IdHoaDon], [SoLuong]) VALUES (4, 5, 2)
GO
SET IDENTITY_INSERT [dbo].[HoaDons] ON 

INSERT [dbo].[HoaDons] ([IDHD], [UserID], [NgayDat], [NgayGiao], [TongTien], [TinhTrangDH], [IsPaid]) VALUES (1, N'2de02c36-d76d-48d1-ba76-73015020c0c6', CAST(N'2022-05-27T21:50:09.137' AS DateTime), CAST(N'2022-05-31T21:50:09.137' AS DateTime), 362000, 1, 0)
INSERT [dbo].[HoaDons] ([IDHD], [UserID], [NgayDat], [NgayGiao], [TongTien], [TinhTrangDH], [IsPaid]) VALUES (3, N'2de02c36-d76d-48d1-ba76-73015020c0c6', CAST(N'2022-05-27T22:12:10.980' AS DateTime), CAST(N'2022-05-31T22:12:10.980' AS DateTime), 620000, 1, 0)
INSERT [dbo].[HoaDons] ([IDHD], [UserID], [NgayDat], [NgayGiao], [TongTien], [TinhTrangDH], [IsPaid]) VALUES (5, N'2de02c36-d76d-48d1-ba76-73015020c0c6', CAST(N'2022-05-27T22:55:08.017' AS DateTime), CAST(N'2022-05-31T22:55:08.017' AS DateTime), 172000, 1, 0)
SET IDENTITY_INSERT [dbo].[HoaDons] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPhams] ON 

INSERT [dbo].[LoaiSanPhams] ([IDLoaiSP], [tenLoaiSP], [Hinh]) VALUES (3, N'Tráng Miệng', NULL)
INSERT [dbo].[LoaiSanPhams] ([IDLoaiSP], [tenLoaiSP], [Hinh]) VALUES (4, N'Cafe', NULL)
INSERT [dbo].[LoaiSanPhams] ([IDLoaiSP], [tenLoaiSP], [Hinh]) VALUES (5, N'Ăn Sáng', NULL)
SET IDENTITY_INSERT [dbo].[LoaiSanPhams] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhams] ON 

INSERT [dbo].[SanPhams] ([IDSP], [tenSP], [Hinh], [GiaBan], [TinhTrang], [LoaiSanPhamId]) VALUES (4, N'Bạc xỉu', N'/Content/Image/menu-1.jpg', 30000, 1, 4)
INSERT [dbo].[SanPhams] ([IDSP], [tenSP], [Hinh], [GiaBan], [TinhTrang], [LoaiSanPhamId]) VALUES (11, N'Cafe Đen', N'/Content/Image/menu-2.jpg', 18000, 1, 4)
INSERT [dbo].[SanPhams] ([IDSP], [tenSP], [Hinh], [GiaBan], [TinhTrang], [LoaiSanPhamId]) VALUES (12, N'Cafe Sữa', N'/Content/Image/menu-4.jpg', 25000, 1, 4)
SET IDENTITY_INSERT [dbo].[SanPhams] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('') FOR [Address]
GO
ALTER TABLE [dbo].[HoaDons] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.HoaDons_IdHoaDon] FOREIGN KEY([IdHoaDon])
REFERENCES [dbo].[HoaDons] ([IDHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.HoaDons_IdHoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.SanPhams_IdSanPham] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SanPhams] ([IDSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.SanPhams_IdSanPham]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HoaDons_dbo.AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_dbo.HoaDons_dbo.AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhams_dbo.LoaiSanPhams_LoaiSanPhamId] FOREIGN KEY([LoaiSanPhamId])
REFERENCES [dbo].[LoaiSanPhams] ([IDLoaiSP])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_dbo.SanPhams_dbo.LoaiSanPhams_LoaiSanPhamId]
GO
