@{
    Layout = "~/Views/Shared/LayoutTrangChu.cshtml";

    ViewBag.Title = "Xin vui lòng";
}

<hgroup class="title" style="margin-top:100px ; margin-left:200px">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <h2 style="margin-left:300px" class="text-warning">Kiểm tra email để lấy lại mật khẩu.</h2>
</div>
	
