@{
    Layout = "~/Views/Shared/LayoutTrangChu.cshtml";
    ViewBag.Title = "Bạn đã đặt lại mật khẩu thành công";
}

<div style="margin-top:100px">
    <div class="col-md-6">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
    </div>
    <div class="col-md-6">
        <p style="color:white ;margin-left:20px">
            Vui Lòng @Html.ActionLink("Nhấn vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>

</div>