@using System.Data.Entity;

@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";

    DOAN_COSO.Models.ApplicationDbContext db = new DOAN_COSO.Models.ApplicationDbContext();
    var TongSL = db.HoaDons.Where(p => p.NgayDat.Day == DateTime.Now.Day).ToList();
    var SLSP = (from ct in db.ChiTietHoaDons
                join hd in db.HoaDons on ct.IdHoaDon equals hd.IDHD
                where hd.NgayDat.Day == DateTime.Now.Day
                select (int?)ct.SoLuong).Sum() ?? 0;

    var TongTien = (from hd in db.HoaDons
                    where hd.NgayDat.Day == DateTime.Now.Day
                    select (double?)hd.TongTien).Sum() ?? 0;

    var TongTienThang = (from hd in db.HoaDons
                         where hd.NgayDat.Month == DateTime.Now.Month
                         select (double?)hd.TongTien).Sum() ?? 0;
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<div class="section-admin container-fluid">
    <div class="row admin text-center">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="admin-content analysis-progrebar-ctn res-mg-t-15">
                        <h4 class="text-left text-uppercase"><b>Tổng số lượng hóa đơn </b></h4>
                        <div class="row vertical-center-box vertical-center-box-tablet">
                            <div class="col-xs-3 mar-bot-15 text-left">
                                <label class="label bg-green">Ngày hôm nay <i class="fa fa-level-up" aria-hidden="true"></i></label>
                            </div>
                            <div class="col-xs-9 cus-gh-hd-pro">
                                <h2 class="text-right no-margin" id="SoLuong">@TongSL.Count()</h2>
                            </div>
                        </div>
                        <div class="progress progress-mini">
                            <div style="width: 78%;" class="progress-bar bg-green"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="admin-content analysis-progrebar-ctn res-mg-t-30">
                        <h4 class="text-left text-uppercase"><b>Tổng Số lượng sản phẩm</b></h4>
                        <div class="row vertical-center-box vertical-center-box-tablet">
                            <div class="text-left col-xs-3 mar-bot-15">
                                <label class="label bg-purple">Bán được trong Ngày <i class="fa fa-level-up" aria-hidden="true"></i></label>
                            </div>
                            <div class="col-xs-9 cus-gh-hd-pro">
                                <h2 class="text-right no-margin">@SLSP</h2>
                            </div>
                        </div>
                        <div class="progress progress-mini">
                            <div style="width: 60%;" class="progress-bar bg-purple"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-bottom:1px;">
                    <div class="admin-content analysis-progrebar-ctn res-mg-t-30">
                        <h4 class="text-left text-uppercase"><b>Tổng tiền</b></h4>
                        <div class="row vertical-center-box vertical-center-box-tablet">
                            <div class="text-left col-xs-3 mar-bot-15">
                                <label class="label bg-red">Ngày hôm nay<i class="fa fa-level-down" aria-hidden="true"></i></label>
                            </div>
                            <div class="col-xs-9 cus-gh-hd-pro">
                                <h2 class="text-right no-margin">@TongTien</h2>
                            </div>
                        </div>
                        <div class="progress progress-mini">
                            <div style="width: 38%;" class="progress-bar progress-bar-danger bg-red"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="admin-content analysis-progrebar-ctn res-mg-t-30">
                        <h4 class="text-left text-uppercase"><b>Tổng Tiền</b></h4>
                        <div class="row vertical-center-box vertical-center-box-tablet">
                            <div class="text-left col-xs-3 mar-bot-15">
                                <label class="label bg-blue">Trong Tháng <i class="fa fa-level-up" aria-hidden="true"></i></label>
                            </div>
                            <div class="col-xs-9 cus-gh-hd-pro">
                                <h2 class="text-right no-margin">@TongTienThang.ToString("#,##0") VNĐ</h2>
                            </div>
                        </div>
                        <div class="progress progress-mini">
                            <div style="width: 60%;" class="progress-bar bg-blue"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<figure class="highcharts-figure">
    <div class="row">
        <div class="col-md-5">
            <div id="container" style="width: 600px; height: 600px "></div>

        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-md-3">
            <div id="container2" style="width: 600px; height: 600px "></div>

        </div>
    </div>
</figure>
<figure class="highcharts-figure">
    <div id="container2" style="width: 600px; height: 500px "></div>
</figure>
<script>
    $(document).ready(function () {
        $.getJSON("/Admin/TongSL", function (data) {
            var Names = []
            var Qts = []
            for (var i = 0; i < data.length; i++) {
                Names.push(data[i].name);
                Qts.push(data[i].count);
            }
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Thống kê số lượng sản phẩm'
                },
                xAxis: {
                    categories: Names,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Số lượng bán được'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Sản phẩm',
                    data: Qts
                }]
            });
        });
        $.getJSON("/Admin/TongTien", function (data) {
            var Qts = [];
            var Months = [];
            for (var i = 0; i < data.length; i++) {
                Qts.push(data[i].count)
                Months.push(data[i].months)
            }
            Highcharts.chart('container2', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Doanh thu theo tháng'
                },
                xAxis: {
                    categories: Months,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Doanh thu thu được'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Thống Kê Theo Năm ',
                    data: Qts
                }
                ]
            });
        });
    });
</script>


